{% extends "base.html" %}

{% block body %}
  
  <h2>Simulation overview</h2>

  <p>Simulated data source: <b>{{ source.config['name'] }}</b></p>
  <p>Number of seed resources: <b>{{ source.config['number_of_resources'] }}</b></p>
  <p>Change delay (in seconds): <b> {{ source.config['change_delay'] }}</b></p>
  <p>Event types: <b>{{ " ".join(source.config['event_types']) }}</b></p>
  <p>Average payload: <b>{{ source.config['average_payload'] }}</b> bytes</p>
  <p>Current resources: <b>{{ resource_count }}</b>
    (<a href="{{ source.base_uri }}/resources">view sample)</a>
  </p>

  <br />
  <h3>Source Description</h3>
  <p>URI: <a href="{{ source.source_description_uri }}">{{ source.source_description_uri }}</a></p>

  <br />
  <h3>Capability List</h3>
  <p>URI: <a href="{{ source.base_uri }}/capabilitylist.xml">{{ source.base_uri }}/capabilitylist.xml</a></p>

  {% if source.has_resource_list_builder %}

  <br />
  <h3>Resource List</h3>
  <p>URI: <a href="{{ source.resource_list_builder.uri }}">{{ source.resource_list_builder.uri }}</a></p>
  <p>Implementation: <b>{{ source.resource_list_builder.config['class'] }}</b></p>
  {% for (k,v) in source.resource_list_builder.config.iteritems() %}
    {% if not k == "class" %}
    <p> {{ k }}: {{ v }}</p>
    {% end %}
  {% end %}
  
  {% end %}
  
  {% if source.has_changememory %}
  <br />

  <h3>Change Memory</h3>
  <p>Implementation: <b>{{ source.changememory.config['class'] }}</b></p>
  <p>URI: <a href="{{ source.changememory.base_uri }}">{{ source.changememory.base_uri }}</a></p>
  <p>Number of cached changes: <b>{{ source.changememory.change_count }}</b></p>
  {% for (k,v) in source.changememory.config.iteritems() %}
    {% if not k == "class" %}
    <p> {{ k }}: {{ v }}</p>
    {% end %}
  {% end %}
  
  {% end %}  

{% end %}
